@import "./variables";

@mixin full_container{
    margin: 0 auto;
    max-width: $screen-xl;  
}

@mixin container {
    margin: 0 auto;
    max-width: $screen-lg;
}

@mixin header_container {
    margin: 0 auto;
    max-width: 1300px;
}

@mixin full_container_mobile{
    margin: 0 auto;
    max-width: $screen-sm;  
}

@mixin container_mobile {
    margin: 0 auto;
    max-width: 360px;
}