// main colors
$primery-color : #2C7EF8;
$primery-hover-light-color : #075CD9;
$on-primery-light-color : #FFFFFF;

// background colors
$background-light-color : #FFFFFF;
$on-background-light-color : #191C1E;
$surface-light-color : #FFFFFF;

// neutral colors
$neutral-color-1: #000000;
$neutral-color-2: #323233;
$neutral-color-3: #646466;
$neutral-color-4: #7D7D7F;
$neutral-color-5: #AFAEB2;
$neutral-color-6: #C8C7CB;
$neutral-color-7: #E1E0E5;
$neutral-color-8: #E1E0E5;
$neutral-color-9: #F5F6F8;
$neutral-color-10: #FEFEFE;
$neutral-color-11: #FFFFFF;

// text color
$span_color_1: #666666;
$title_color_1: #141414;
$text_color_1: #444749;
$text_color_2: #242424;
$unimportant_text_color_1: #070D31;
$label_color_1: #E6E6E6;
$placeholder_color_1: #BBBBBB;

// message colors 
$success-color : #90F677;
$error-color : #E63946;


// font weight size
$Thin : 100;
$Extra_Light :200;
$Light : 300;
$Normal : 400;
$Medium :500;
$Semi_Bold : 600;
$Bold : 700;
$Extra_Bold : 800;


// sizes
// $screen-sm : 576px;
// $screen-md : 768px;
// $screen-lg : 1024px;
// $screen-xl : 1368px;

// Small tablets and large smartphones (landscape view)
$screen-sm: 480px;
// Small tablets (portrait view)
$screen-md: 768px;
// Tablets and small desktops
$screen-lg: 1200px;
// Large tablets and desktops
$screen-xl: 1440px;