@import "./variables";
@import "./mixin";
@import "./reset";
@import "../fonts/font";


.footer{
    @media screen and (min-width: 360px) and (max-width: 480px) {
        @include container_mobile;
    }
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 80px;
    margin-bottom: 10px;
    @media screen and (min-width: 360px) and (max-width: 480px) {
        gap: 30px;
        margin-top: 80px;
    }

    &_title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @media screen and (min-width: 360px) and (max-width: 480px) {
            gap: 8px;
        }
        &_name{
            // height: 31px;
            // width: 95px;
            font-family: 'Yekan Bakh FaNum';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 31px;
            color: $title_color_1;
            @media screen and (min-width: 360px) and (max-width: 480px) {
                font-size: 16px;
                line-height: 29px;
            }
        }

        &_line{
            display: block;
          @media screen and (min-width: 360px) and (max-width: 480px) {
          display: none;
           }
        }
        &_lineR{
            display: none;
          @media screen and (min-width: 360px) and (max-width: 480px) {
          display: block;
           }
        }
    }

    &_body{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 0px 16px;
        gap: 250px;
        @media screen and (min-width: 360px) and (max-width: 480px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 32px;
          }

        &_details{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            @media screen and (min-width: 360px) and (max-width: 480px) {
                order: 2;
                gap: 16px;
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                &_ways:last-child{
                    grid-row-start: 1;grid-row-end: 3;
                    flex-direction: column;
                    height: 143px;
                }
              }
            

            &_ways {
               display: flex;
               flex-direction: row;
               align-items: center;
               gap: 24px;
               @media screen and (min-width: 360px) and (max-width: 480px){
                  background: $on-primery-light-color;
                  border: 1px solid $neutral-color-9;
                  border-radius: 16px;
                  gap: 8px;
                  padding: 8px 4px;
               }

               

               &_logo{
                   @media screen and (min-width: 360px) and (max-width: 480px){
                   display: none;
                 }
               }

               &_logoR{
                display: none;
                @media screen and (min-width: 360px) and (max-width: 480px){
                display: block;
              }
            }
   
               &_text{
                   font-family: 'Yekan Bakh FaNum';
                   font-style: normal;
                   font-weight: 400;
                   font-size: 14px;
                   line-height: 22px;
                   text-align: right;
                   color: $text_color_2;
                   @media screen and (min-width: 360px) and (max-width: 480px){
                    font-size: 10px;
                    line-height: 16px;
                  }
                }
            }
        }

        &_connection{
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            gap: 32px;

            &_text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 12px;
        
                &_title{
                    font-family: 'Yekan Bakh FaNum';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 25px;
                    text-align: right;
                    color: $text_color_2;
                    @media screen and (min-width: 360px) and (max-width: 480px){
                        font-size: 14px;
                        line-height: 22px;
                      }
                }
    
                &_body{
                    font-family: 'Yekan Bakh FaNum';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    text-align: right;
                    color: $text_color_2;  
                    @media screen and (min-width: 360px) and (max-width: 480px){
                        font-size: 12px;
                        line-height: 19px;
                      }       
                }
            }

            &_email{
                display: flex;
                flex-direction: column;
                position: relative;
                // width: 335px;
                // height: 48px;

                &_input{
                    border: 1px solid #A1A1A1;
                    border-radius: 10px;
                    padding: 10px 24px 10px 6px;
                    @media screen and (min-width: 360px) and (max-width: 480px){
                        width: 328px;
                        height: 40px;
                      }    
                }

                &_btn{
                    padding: 5px 12px;
                    background: #037FFF;
                    border-radius: 8px;
                    color: $neutral-color-11;
                    text-align: center;
                    font-size: 14px;
                    line-height: 16.5px;
                    font-family: 'Yekan Bakh FaNum';
                    position: absolute;
                    left: 7px;
                    top: 6px;

                }
                &_btn:hover {
                   background: $primery-hover-light-color;
                   cursor: pointer;  
                }
            }

        }
    }
    &_index{
        font-family: 'Yekan Bakh FaNum';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        color: $span_color_1;     
        @media screen and (min-width: 360px) and (max-width: 480px){
            font-size: 12px;
            line-height: 19px;
          }              
    }
}