* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

@font-face {
  font-family: "Yekan Bakh FaNum", vazir;
  src: url("./woff/YekanBakh-Regular.woff") format("woff"), url("./woff2/YekanBakh-Regular.woff2") format("woff2"), url("./vazir/Vazir.woff") format("woff");
}
.body {
  margin: 0 auto;
  max-width: 1024px;
}
.body .container_titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 80px;
}
.body .container_titles_background {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.body .container_titles_background_h3 {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 83px;
  text-align: center;
  color: #141414;
}
.body .container_titles_background_h1 {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 115px;
  text-align: center;
  color: #141414;
}
.body .container_titles_background_line {
  transform: rotate(360.28deg);
  position: relative;
  left: 70px;
  top: 5px;
}
.body .container_titles_background_star1 {
  position: absolute;
  right: 1600px;
  top: 180px;
}
.body .container_titles_background_star2 {
  position: absolute;
  left: 1500px;
  top: 400px;
}
.body .container_titles_discription {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}
.body .container_titles_discription_h4 {
  width: 827px;
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #141414;
}
.body .container_titles_discription_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.body .container_titles_discription_btn_btn {
  background-color: #2C7EF8;
  color: #FFFFFF;
  padding: 8px 30px;
  height: 25px;
  border-radius: 8px;
}
.body .container_titles_discription_btn_btn:hover {
  background: #075CD9;
  cursor: pointer;
}
.body .container_titles_discription_btn_aboutUs {
  color: #2C7EF8;
  padding: 8px 40px;
  height: 25px;
  background: #EBF3FE;
  border-radius: 8px;
}
.body .container_titles_discription_btn_aboutUs:hover {
  background: #E1E0E5;
  cursor: pointer;
}
.body .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .container_discription {
  display: flex;
  flex-direction: column;
  gap: 124px;
}
.body .container_discription_image {
  margin-top: 40px;
  filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.05));
  border-radius: 12px 12px 0px 0px;
}
.body .container_discription_features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.body .container_discription_features_h2 {
  width: 508px;
  font-family: "Abar Mid FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 72px;
  text-align: center;
  color: #191C1E;
}
.body .container_discription_features_h4 {
  width: 540px;
  margin-bottom: 30px;
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #444749;
}
.body .container_discription_features_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.body .container_discription_features_items_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border: 1px solid #F5F6F8;
  border-radius: 24px;
  padding: 32px 40px;
  width: 262px;
  height: 266px;
}
.body .container_discription_features_items_1_titr {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  color: #070D31;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
.body .container_discription_features_items_1_body {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  text-align: center;
  color: #444749;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.body .container_discription_download {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 600px;
  margin-bottom: 20px;
}
.body .container_discription_download_images {
  position: relative;
}
.body .container_discription_download_images_imgcover1 {
  position: absolute;
  width: 537px;
  height: 370px;
  top: -160px;
  left: -18px;
  border-radius: 26px;
  background: linear-gradient(118.11deg, #E5E7E8 22.44%, #E9EBF1 102.49%);
}
.body .container_discription_download_images_image1 {
  position: absolute;
  top: -163px;
  left: -20px;
  z-index: 1;
  border-radius: 25px;
}
.body .container_discription_download_images_imgcover2 {
  position: absolute;
  width: 189.7px;
  height: 394px;
  top: -130px;
  left: 270px;
  background: linear-gradient(118.11deg, #E5E7E8 22.44%, #E9EBF1 102.49%);
  border-radius: 21px;
  z-index: 2;
}
.body .container_discription_download_images_image2 {
  position: absolute;
  top: -125px;
  left: 276px;
  border-radius: 17px;
  border: 0.7px 0px 0px 0px;
  z-index: 3;
}
.body .container_discription_download_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 19px;
}
.body .container_discription_download_text_h5 {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  text-align: right;
  color: #444749;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.body .container_discription_download_text_titr {
  width: 267px;
  font-family: "Abar Mid FaNum";
  font-style: normal;
  text-align: right;
  color: #191C1E;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
}
.body .container_discription_download_text_body {
  width: 472px;
  font-family: "Yekan Bakh FaNum";
  text-align: right;
  color: #444749;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.body .container_discription_download_text_link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2C7EF8;
  gap: 16px;
  cursor: pointer;
}
.body .container_discription_download_text_link_text {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.body .container_discription_comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.body .container_discription_comments_titr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.body .container_discription_comments_titr_h2 {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  color: #191C1E;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
}
.body .container_discription_comments_titr_h4 {
  width: 540px;
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #444749;
}
.body .container_discription_comments_users {
  display: flex;
  flex-direction: row;
  gap: 26px;
}
.body .container_discription_comments_users_gp {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.body .container_discription_comments_users_gp_1 {
  display: flex;
  flex-direction: column;
  height: 340px;
  width: 357px;
  padding: 24px 32px;
  gap: 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}
.body .container_discription_comments_users_gp_1_profile {
  display: flex;
  flex-direction: row;
  gap: 17px;
}
.body .container_discription_comments_users_gp_1_profile_text_name {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  color: #141414;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
}
.body .container_discription_comments_users_gp_1_profile_text_job {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  color: #5C5C5C;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.body .container_discription_comments_users_gp_1_comment {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  text-align: right;
  color: #444749;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  overflow: hidden;
}
.body .container_discription_comments_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.body .container_discription_comments_icon > * {
  background: #FFFFFF;
  border: 1px solid #E3E6E8;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */