* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

@font-face {
  font-family: "Yekan Bakh FaNum", vazir;
  src: url("./woff/YekanBakh-Regular.woff") format("woff"), url("./woff2/YekanBakh-Regular.woff2") format("woff2"), url("./vazir/Vazir.woff") format("woff");
}
.body {
  margin: 0 auto;
  max-width: 1200px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body {
    margin: 0 auto;
    max-width: 360px;
  }
}
.body_container_titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 80px;
}
.body_container_titles_background {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.body_container_titles_background_h3 {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 83px;
  text-align: center;
  color: #141414;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_titles_background_h3 {
    font-size: 24px;
    line-height: 43px;
  }
}
.body_container_titles_background_h1 {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 115px;
  text-align: center;
  color: #141414;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_titles_background_h1 {
    font-size: 28px;
    line-height: 50px;
  }
}
.body_container_titles_background_line {
  transform: rotate(360.28deg);
  position: relative;
  left: 70px;
  top: 5px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_titles_background_line {
    display: none;
  }
}
.body_container_titles_discription {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
}
.body_container_titles_discription_h4 {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #141414;
}
@media screen and (min-width: 360) and (max-width: 480px) {
  .body_container_titles_discription_h4 {
    font-size: 12px;
    line-height: 19px;
    text-align: center;
  }
}
.body_container_titles_discription_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.body_container_titles_discription_btn_btn {
  background-color: #2C7EF8;
  color: #FFFFFF;
  padding: 8px 30px;
  height: 25px;
  border-radius: 8px;
}
.body_container_titles_discription_btn_btn:hover {
  background: #075CD9;
  cursor: pointer;
}
.body_container_titles_discription_btn_aboutUs {
  color: #2C7EF8;
  padding: 8px 40px;
  height: 25px;
  background: #EBF3FE;
  border-radius: 8px;
}
.body_container_titles_discription_btn_aboutUs:hover {
  background: #E1E0E5;
  cursor: pointer;
}
.body_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body_container_discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 124px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription {
    gap: 25px;
  }
}
.body_container_discription_image {
  margin-top: 40px;
  filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.05));
  border-radius: 12px 12px 0px 0px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_image {
    max-width: 340px;
    width: 90%;
    height: auto;
  }
}
.body_container_discription_features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_features {
    gap: 10px;
  }
}
.body_container_discription_features_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
@media screen and (max-width: 360px) {
  .body_container_discription_features_text {
    gap: 2px;
  }
}
.body_container_discription_features_text_h2 {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 72px;
  text-align: center;
  color: #191C1E;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_features_text_h2 {
    font-size: 20px;
    line-height: 72px;
  }
}
.body_container_discription_features_text_h4 {
  margin-bottom: 30px;
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #444749;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_features_text_h4 {
    font-size: 10px;
    line-height: 15px;
    width: 312px;
  }
}
.body_container_discription_features_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1440px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_features_items {
    gap: 10px;
  }
}
.body_container_discription_features_items_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid #F5F6F8;
  border-radius: 24px;
  width: 20%;
  padding: 32px 32px 32px 32px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_features_items_1 {
    max-width: 440px;
    width: 40%;
    gap: 2px;
    padding: 5px 3px 5px 3px;
  }
}
.body_container_discription_features_items_1_logo {
  display: block;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_features_items_1_logo {
    display: none;
  }
}
.body_container_discription_features_items_1_logoR {
  display: none;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_features_items_1_logoR {
    display: block;
  }
}
.body_container_discription_features_items_1_titr {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  justify-content: center;
  color: #070D31;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_features_items_1_titr {
    font-size: 12px;
    line-height: 18px;
    width: 75px;
    height: 32px;
  }
}
.body_container_discription_features_items_1_body {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  text-align: center;
  color: #444749;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_features_items_1_body {
    font-size: 10px;
    line-height: 16px;
    height: 65px;
    width: 88px;
  }
}
.body_container_discription_download {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 600px;
  margin-bottom: 20px;
}
.body_container_discription_download_images {
  position: relative;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_download_images {
    display: none;
  }
}
.body_container_discription_download_images_imgcover1 {
  position: absolute;
  width: 537px;
  height: 370px;
  top: -160px;
  left: -18px;
  border-radius: 26px;
  background: linear-gradient(118.11deg, #E5E7E8 22.44%, #E9EBF1 102.49%);
}
.body_container_discription_download_images_image1 {
  position: absolute;
  top: -163px;
  left: -20px;
  z-index: 1;
  border-radius: 25px;
}
.body_container_discription_download_images_imgcover2 {
  position: absolute;
  width: 189.7px;
  height: 394px;
  top: -130px;
  left: 270px;
  background: linear-gradient(118.11deg, #E5E7E8 22.44%, #E9EBF1 102.49%);
  border-radius: 21px;
  z-index: 2;
}
.body_container_discription_download_images_image2 {
  position: absolute;
  top: -125px;
  left: 276px;
  border-radius: 17px;
  border: 0.7px 0px 0px 0px;
  z-index: 3;
}
.body_container_discription_download_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 19px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_download_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.body_container_discription_download_text_h5 {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  text-align: right;
  color: #444749;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_download_text_h5 {
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    height: 2px;
  }
}
.body_container_discription_download_text_titr {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  text-align: right;
  color: #191C1E;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_download_text_titr {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
  }
}
.body_container_discription_download_text_imageR {
  display: none;
}
@media screen and (max-width: 360px) {
  .body_container_discription_download_text_imageR {
    display: block;
  }
}
.body_container_discription_download_text_body {
  width: 472px;
  font-family: "Yekan Bakh FaNum";
  text-align: right;
  color: #444749;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_download_text_body {
    font-size: 10px;
    line-height: 15px;
    width: 312px;
    text-align: center;
  }
}
.body_container_discription_download_text_link {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  color: #2C7EF8;
  gap: 16px;
  cursor: pointer;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_download_text_link {
    gap: 10px;
  }
}
.body_container_discription_download_text_link_text {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_download_text_link_text {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }
}
.body_container_discription_download_text_link_arrow {
  display: block;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_download_text_link_arrow {
    display: none;
  }
}
.body_container_discription_download_text_link_arrowR {
  display: none;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_download_text_link_arrowR {
    display: block;
  }
}
.body_container_discription_comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_comments {
    gap: 24px;
  }
}
.body_container_discription_comments_titr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 360px) {
  .body_container_discription_comments_titr {
    gap: 12px;
  }
}
.body_container_discription_comments_titr_h2 {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  color: #191C1E;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_comments_titr_h2 {
    font-size: 20px;
    height: 40px;
  }
}
.body_container_discription_comments_titr_h4 {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #444749;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_comments_titr_h4 {
    font-size: 10px;
    line-height: 15px;
    width: 300px;
  }
}
.body_container_discription_comments_users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_comments_users {
    gap: 16px;
    padding: 24px;
    max-width: 560px;
    flex-wrap: nowrap;
    overflow: hidden;
    flex: 100%;
  }
}
.body_container_discription_comments_users_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: 340px;
  flex: 25%;
  gap: 24px;
  padding: 24px 32px;
  background: #FFFFFF;
  box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_comments_users_1 {
    gap: 8px;
    padding: 24px;
    flex: 100%;
    height: 270px;
    width: 258px;
  }
}
.body_container_discription_comments_users_1_profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_comments_users_1_profile {
    gap: 10px;
  }
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_comments_users_1_profile_img {
    max-width: 48px;
    height: auto;
    width: 100%;
  }
}
.body_container_discription_comments_users_1_profile_text {
  text-align: right;
  gap: 4px;
}
.body_container_discription_comments_users_1_profile_text_name {
  font-family: "Abar Mid FaNum";
  font-style: normal;
  color: #141414;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_comments_users_1_profile_text_name {
    font-size: 14px;
    line-height: 25px;
  }
}
.body_container_discription_comments_users_1_profile_text_job {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  color: #5C5C5C;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_comments_users_1_profile_text_job {
    font-size: 12px;
    line-height: 19px;
  }
}
.body_container_discription_comments_users_1_comment {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  text-align: right;
  color: #444749;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  overflow: hidden;
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .body_container_discription_comments_users_1_comment {
    font-size: 12px;
    line-height: 19px;
  }
}/*# sourceMappingURL=main.css.map */