* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

@font-face {
  font-family: "Yekan Bakh FaNum";
  src: url("../fonts/woff/YekanBakh-Regular.woff") format("woff"), url("../fonts/woff2/YekanBakh-Regular.woff2") format("woff2");
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 4px 58.5px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  padding: 20px;
  gap: 80px;
  position: absolute;
  width: 272px;
  height: 984px;
  right: 20px;
  top: 20px;
}
.container_profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}
.container_profile_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}
.container_profile_text_name {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  color: #242424;
}
.container_profile_text_date {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #7D7D7F;
}
.container_list_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.container_list_items_li1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container_list_items_li1_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  border: 1px solid #F5FAFF;
  background: #F5FAFF;
  width: 248px;
  border-radius: 8px;
}
.container_list_items_li1_text_title {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #007BFF;
}
.container_list_items_li2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.container_list_items_li2_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 2px 20px 2px 20px;
  background: #F5FAFF;
  border-radius: 8px;
}
.container_list_items_li2_text_title {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.container_list_items_li3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.container_list_items_li3_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 2px 20px 2px 20px;
  background: #F5FAFF;
  border-radius: 8px;
}
.container_list_items_li3_text_title {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.container_list_items_li4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.container_list_items_li4_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 2px 20px 2px 20px;
  background: #F5FAFF;
  border-radius: 8px;
}
.container_list_items_li4_text_title {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.container_list_items_li5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.container_list_items_li5_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 2px 20px 2px 20px;
  background: #F5FAFF;
  border-radius: 8px;
}
.container_list_items_li5_text_title {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.container_list_items_li6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.container_list_items_li6_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 2px 20px 2px 20px;
  background: #F5FAFF;
  border-radius: 8px;
}
.container_list_items_li6_text_title {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.container_list_items_li7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.container_list_items_li7_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 2px 20px 2px 20px;
  background: #F5FAFF;
  border-radius: 8px;
}
.container_list_items_li7_text_title {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #141414;
}
.container_options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  margin-top: 270px;
}
.container_options_btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  padding: 6px 10px;
  gap: 30px;
  background: #F7F7F7;
  border-radius: 8px;
}
.container_options_btn_light {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  padding: 0 15px;
  gap: 12px;
  background: #FFFFFF;
  border-radius: 6px;
}
.container_options_btn_dark {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  padding: 0 15px;
}
.container_options_exit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.container_options_exit_title {
  font-family: "Yekan Bakh";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #525252;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  padding: 60px 500px 50px 80px;
}
.main_container_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
.main_container_title_h3 {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 31px;
  color: #242424;
  margin: 0 auto;
}
.main_container_title_h5 {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #696969;
  margin: 0 auto;
}
.main_container_box {
  margin-bottom: 60px;
}
.main_container_box_new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.main_container_box_new_add {
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 14px 16px 14px 450px;
  border: 1px dashed #CCCCCC;
  border-radius: 10px;
}
.main_container_box_new_add_icon {
  position: relative;
  top: 6px;
}
.main_container_box_new_add_text {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #007BFF;
}
.main_container_box_new_task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: #FFFFFF;
  gap: 206px;
  border: 1px solid #E9E9E9;
  border-radius: 12px;
  padding: 24px 20px 24px 24px;
  width: 632px;
}
.main_container_box_new_task_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
}
.main_container_box_new_task_text_check {
  display: flex;
  gap: 10px;
}
.main_container_box_new_task_text_check_label {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #323233;
}
.main_container_box_new_task_text_check_input {
  width: 18px;
  height: 18px;
  border: 1px solid #AFAEB2;
  border-radius: 5px;
  vertical-align: sub;
  outline: none;
}
.main_container_box_new_task_text_check_input:checked {
  background-color: #007BFF;
}
.main_container_box_new_task_text_check_span-high {
  padding: 2px 8px 1px 8px;
  background: #FFE2DB;
  border-radius: 4px;
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  text-align: right;
  color: #FF5F37;
}
.main_container_box_new_task_text_check_span-avg {
  padding: 2px 8px 1px 8px;
  background: #FFEFD6;
  border-radius: 4px;
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  text-align: right;
  color: #FFAF37;
}
.main_container_box_new_task_text_check_span-low {
  padding: 2px 8px 1px 8px;
  background: #C3FFF1;
  border-radius: 4px;
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  text-align: right;
  color: #11A483;
}
.main_container_box_new_task_text_discription {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #727272;
}
.main_container_tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
}
.main_container_tasks_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.main_container_tasks_title_h4 {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 31px;
  color: #242424;
}
.main_container_tasks_title_h6 {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #696969;
}
.main_container_tasks_done {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 20px 24px 24px;
  gap: 206px;
  border: 1px solid #E9E9E9;
  border-radius: 12px;
  width: 650px;
  background: #FFFFFF;
}
.main_container_tasks_done_check {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
}
.main_container_tasks_done_check_input {
  width: 18px;
  height: 18px;
  border: 1px solid #AFAEB2;
  border-radius: 5px;
  vertical-align: sub;
  outline: none;
}
.main_container_tasks_done_check_input:checked {
  background-color: #007BFF;
}
.main_container_tasks_done_check_p {
  font-family: "Yekan Bakh FaNum";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #323233;
  text-decoration-line: line-through;
}/*# sourceMappingURL=sidebarList2.css.map */