@import "./variables";
@import "./mixin";
@import "./reset";
@import "./font";



.container_header{
    display: none;
    @media screen and (min-width: 360px) and (max-width: 480px) {
        margin: 0 auto;
        max-width: 320px;
        display: block;
        margin-top: 15px;
        background-color: $background-light-color;
        box-shadow: 0px 4px 58.5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        // display: none;
        
        // margin-bottom: 5px;
        
        &_menu{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 2px ;
            // gap: 2px;   

        &_list:link {
            color: $title_color_1;
            text-decoration: none;
            font-family: 'Yekan Bakh FaNum';
            font-style: normal;
            font-weight: $Semi_Bold;            
            cursor: pointer;
            text-align: center;
            font-size: 16px;
            line-height: 25px;    
            margin: 0 auto;          
           }

        &_hamberger {
             display: flex;
             align-self: center;
             align-items: center;
         }
    }
  }
}

.container{
    @media screen and (min-width: 360px) and (max-width: 480px){
        display: none;
        height: auto;
    }
    @include container;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: $on-primery-light-color ;
    box-shadow: 0px 4px 58.5px rgba(0, 0, 0, 0.06);
    border-radius: 16px;  
    padding: 20px;  
    gap: 80px;
    position: absolute;
    width: 272px;
    height: 984px;
    right: 20px;
    top: 20px;

    &_head{
        display: none;
        @media screen and (min-width: 360px) and (max-width: 480px){
          display: block;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 132px;

        &_name{
            font-family: 'Yekan Bakh FaNum';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
            color: #242424;            
        }
      }
    }
    
    &_profile{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;   
        margin-top: 20px;
       @media screen and (min-width: 360px) and (max-width: 480px){
        display: none;
       }
        // background-color: aqua;     
        // &_img{}

        &_text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 3px;
            // background-color: beige;
            &_name{
                font-family: 'Yekan Bakh FaNum';
                font-style: normal;
                font-weight: $Extra_Bold;
                font-size: 18px;
                line-height: 28px;
                color: $text_color_2;                
            }

            &_date{
                font-family: 'Yekan Bakh FaNum';
                font-style: normal;
                font-weight: $Semi_Bold;
                font-size: 14px;
                line-height: 22px;
                color: $neutral-color-4;                
            }
        }
    }

    &_list{
        // margin: 0 auto;
        // padding: 0 0 0 90px;
        &_items{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; 
            gap: 20px;

            &_li1{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;       
                &_text{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;
                    border: 1px solid #F5FAFF;
                    background: #F5FAFF;
                    width: 248px;
                    border-radius: 8px;                   
                    // &_icon{}

                    &_title{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Bold ;
                        font-size: 16px;
                        line-height: 25px;
                        color: $to_do_list_title;                        
                    }
                }
            }

            &_li2{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 16px;       
                &_text{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;
                    padding: 2px 20px 2px 20px;
                    background: #F5FAFF;
                    border-radius: 8px;               
                    // &_icon{}

                    &_title{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Semi_Bold ;
                        font-size: 16px;
                        line-height: 25px;
                        color: $title_color_1;                        
                    }
                }
            }


            &_li3{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 16px;       
                &_text{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;
                    padding: 2px 20px 2px 20px;
                    background: #F5FAFF;
                    border-radius: 8px;                 
                    // &_icon{}

                    &_title{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Semi_Bold ;
                        font-size: 16px;
                        line-height: 25px;
                        color: $title_color_1;                        
                    }
                }
            }


            &_li4{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 16px;       
                &_text{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;
                    padding: 2px 20px 2px 20px;
                    background: #F5FAFF;
                    border-radius: 8px;                  
                    // &_icon{}

                    &_title{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Semi_Bold ;
                        font-size: 16px;
                        line-height: 25px;
                        color: $title_color_1;                        
                    }
                }
            }


            &_li5{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 16px;       
                &_text{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;
                    padding: 2px 20px 2px 20px;
                    background: #F5FAFF;
                    border-radius: 8px;                 
                    // &_icon{}

                    &_title{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Semi_Bold ;
                        font-size: 16px;
                        line-height: 25px;
                        color: $title_color_1;                        
                    }
                }
            }



            &_li6{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 16px;       
                &_text{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;
                    padding: 2px 20px 2px 20px;
                    background: #F5FAFF;
                    border-radius: 8px;                  
                    // &_icon{}

                    &_title{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Semi_Bold ;
                        font-size: 16px;
                        line-height: 25px;
                        color: $title_color_1;                        
                    }
                }
            }



            &_li7{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 16px;       
                &_text{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;
                    padding: 2px 20px 2px 20px;
                    background: #F5FAFF;
                    border-radius: 8px;                   
                    // &_icon{}

                    &_title{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Semi_Bold ;
                        font-size: 16px;
                        line-height: 25px;
                        color: $title_color_1;                        
                    }
                }
            }

        }
    }

    &_options {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;       
        margin-top: 270px; 
        &_btn{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin: 0 auto;
            padding: 6px 10px;
            gap: 30px;
            background: #F7F7F7;
            border-radius: 8px;
            &_light{
                font-family: 'Yekan Bakh FaNum';
                font-style: normal;
                font-weight: $Semi_Bold;
                font-size: 14px;
                line-height: 22px;     
                padding: 0 15px;
                gap: 12px;
                background: $on-primery-light-color;
                border-radius: 6px;                
            }
            &_dark{
                font-family: 'Yekan Bakh FaNum';
                font-style: normal;
                font-weight: $Semi_Bold;
                font-size: 14px;
                line-height: 22px;     
                padding: 0 15px;
            }
        }

        // &_line{}

        &_exit{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 15px;
            // &_icon{}
            &_title:link{
                font-family: 'Yekan Bakh FaNum';
                font-style: normal;
                font-weight: $Semi_Bold;
                font-size: 14px;
                line-height: 22px;
                color: #525252; 
                text-decoration: none;
          
            }
        }
    }
}

.main_container{
    @media screen and (min-width: 360px) and (max-width: 480px) {
        max-width: 320px;
        margin: 0 auto;
        gap: 15px;
        padding: 0;
        background-color: #FEFEFE;
        height: auto;
        margin-top: 10px;
        // display: none;
    }
    // @include container_todolist;
    // padding: 60px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    padding: 60px 500px 50px 80px;
    height: 1024px;
    overflow: hidden;


    &_profile{
        display: none;
        @media screen and (min-width: 360px) and (max-width: 480px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 12px;   
            max-width: 312px;
            // margin-bottom: 20px;

            &_division{
                display: flex;
                flex-direction: row;
                gap: 10px;

                // &_img{}

                &_text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 5px;
                    // background-color: beige;
                    &_name{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Extra_Bold;
                        font-size: 18px;
                        line-height: 27px;
                        color: $text_color_2;           
                    }
        
                    &_date{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Semi_Bold;
                        font-size: 14px;
                        line-height: 21px;
                        color: $neutral-color-4;                
                    }
                }
            }
        }

    }

    &_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;   
        gap: 5px;   
        @media screen and (min-width: 360px) and (max-width: 480px) {
            gap: 4px;
            text-align: right;
        }
        
        &_h3{
            font-family: 'Yekan Bakh FaNum';
            font-style: normal;
            font-weight: $Extra_Bold;
            font-size: 20px;
            line-height: 31px;
            color:$text_color_2;
            margin: 0 auto;    
            @media screen and (min-width: 360px) and (max-width: 480px) {
                font-size: 16px;
                line-height: 24px;  
            }
        }

        &_h5{
            font-family: 'Yekan Bakh FaNum';
            font-style: normal;
            font-weight: $Normal;
            font-size: 12px;
            line-height: 22px;
            color: $to_do_list_discription;  
            margin: 0 auto;      
            @media screen and (min-width: 360px) and (max-width: 480px) {
                font-size: 12px;
                line-height: 18px;    
            } 
        }
    }

    &_img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 120px;
        gap: 24px; 
        display: none;
        @media screen and (min-width: 360px) and (max-width: 480px) {
            max-width: 320px;
            margin: 0 auto;
            gap: 12px;
        }

        &_image{
            @media screen and (min-width: 360px) and (max-width: 480px) {
                // margin: 0 auto;
                max-width: 320px;
                height: auto;
                width: 60%;           
            }
        }

        &_text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;
            // @media screen and (min-width: 360px) and (max-width: 480px) {
            //     margin: 0 auto;       
            // }          
            &_caption{
                font-family: 'Yekan Bakh FaNum';
                font-style: normal;
                font-weight: $Extra_Bold;
                font-size: 16px;
                line-height: 25px;
                color: $neutral-color-4;    
                @media screen and (min-width: 360px) and (max-width: 480px) {
                    font-size: 16px;
                    line-height: 24px;         
                }            
            }

            &_feagure{
                font-family: 'Yekan Bakh FaNum';
                font-style: normal;
                font-weight: $Semi_Bold;
                font-size: 14px;
                line-height: 22px;
                color: $neutral-color-5;  
                @media screen and (min-width: 360px) and (max-width: 480px) {
                    font-size: 14px;
                    line-height: 21px;    
                    text-align: center;     
                }                   
            }
        }
    }

    &_box {
        margin-bottom: 20px;
        @media screen and (min-width: 360px) and (max-width: 480px) {
           gap: 16px;
           margin-bottom: 10px;  
        } 
        &_new{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 10px;            
            &_add{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 14px 16px 14px 450px;
                border: 1px dashed #CCCCCC;
                border-radius: 10px; 
                gap: 8px;
                cursor: pointer;
                @media screen and (min-width: 360px) and (max-width: 480px) {
                    gap: 16px;
                    margin-bottom: 10px;  
                    padding: 4px 6px 10px 155px;
                    gap: 8px;
                    align-items: center;
                 }  
    
                // &_icon{
                //     position: relative;
                //     top: 6px;
                //     @media screen and (min-width: 360px) and (max-width: 480px) {
                //       top: 9px;
                //      }  
                // }
    
                &_text{
                    font-family: 'Yekan Bakh FaNum';
                    font-style: normal;
                    font-weight: $Bold;
                    font-size: 16px;
                    line-height: 25px;
                    // text-align: right;
                    color: $to_do_list_title;  
                    @media screen and (min-width: 360px) and (max-width: 480px) {
                        font-size: 14px;
                        line-height: 21px;
                        // margin: none;    
                    }          
                }
            }

            &_window{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                background: $background-light-color;
                border: 1px solid #E9E9E9;
                box-shadow: 0px 4px 58.5px rgba(0, 0, 0, 0.06);
                border-radius: 12px;
                margin-top: -50px;
                width: 632px;
                height: auto;
                position: absolute;
                top: 155px;
                z-index: 1;
                display: none;
                @media screen and (min-width: 360px) and (max-width: 480px) {
                    width: 312px;
                    height: 219px; 
                    position: absolute;
                    top: 200px;
                 } 
                &_body{
                    padding: 20px 15px 20px 290px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    text-align: right;
                    gap: 24px;    
                    height: 60%;      
                    width: 100%;    
                    &_titles{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;
                        gap: 8px;
                        &_input1::placeholder{
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Bold;
                            font-size: 16px;
                            line-height: 25px;
                            color: $neutral-color-4;    
                            text-align: right;                
                        }

                        &_input1{
                            border: none;
                            outline: none;
                            cursor: pointer;
                        }

                        &_input2::placeholder{
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Normal;
                            font-size: 14px;
                            line-height: 22px;
                            color: $neutral-color-5; 
                            text-align: right;   
                        }

                        &_input2{
                            border: none;
                            outline: none;
                            cursor: pointer;
                        }
                    }
                    &_tags{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 3px 8px;
                        gap: 6px;
                        border: 1px solid #E9E9E9;
                        border-radius: 4px;
                        cursor: pointer;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        // &_icon{}

                        &_name{
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Semi_Bold;
                            font-size: 14px;
                            line-height: 22px;
                            color: #AFAEB2;                            
                        }
                    }
                    &_options{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        gap: 10px;
                        background: $on-primery-light-color;
                        border: 1px solid #EBEDEF;
                        box-shadow: 0px 12px 24px -6px rgba(20, 20, 25, 0.06);
                        border-radius: 8px;   
                        display: none;
                        @media screen and (min-width: 360px) and (max-width: 480px) {
                            padding: 5px;
                         }    
                        // position: relative;
                        // top: -5px;  
                        &_lowlabel{
                            padding: 2px 8px;
                            gap: 8px;
                            background: #C3FFF1;
                            border-radius: 4px;    
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Bold;
                            font-size: 12px;
                            line-height: 19px;
                            color: #11A483;   
                            cursor: pointer;
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 12px;
                                line-height: 18px;
                                padding: 2px;
                             }                                                     
                        }

                        &_lowinput{
                           display: none;
                        }
                        
                        &_avglabel{
                            padding: 2px 8px;
                            gap: 8px;
                            background: #FFEFD6;
                            border-radius: 4px;    
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Bold;
                            font-size: 12px;
                            line-height: 19px;
                            color: #FFAF37;   
                            cursor: pointer;
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 12px;
                                line-height: 18px;
                                padding: 2px;
                             }    
                        }

                        &_avginput{
                            display: none;
                        }

                        &_highlabel{
                            padding: 2px 8px;
                            gap: 8px;
                            background: #FFE2DB;
                            border-radius: 4px;    
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Bold;
                            font-size: 12px;
                            line-height: 19px;
                            color: #FF5F37;  
                            cursor: pointer;
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 12px;
                                line-height: 18px;
                                padding: 2px;
                             }    
                        }

                        &_highinput{
                            display: none;
                        }

                        &_line{
                            color: #EBEDEF;
                        }
                    }

                }

                &_footer{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    padding: 10px 16px; 
                    width: 100%; 
                    border-top: 1px solid #E9E9E9;        
                    
                    &_btn{
                        padding: 6px 16px;
                        background: #007BFF;
                        opacity: 60%;
                        border-radius: 6px;
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Semi_Bold;
                        font-size: 14px;
                        line-height: 22px;
                        color: $neutral-color-11;    
                        cursor: pointer;                    
                    }
                    &_close{
                        padding: 3px 5px;
                        gap: 12px;
                        background: #F5F5F5;
                        border-radius: 6px;     
                        cursor: pointer;                   
                    }
                }
            }

            // &_choosetag{
            //     display: flex;
            //     flex-direction: column;
            //     align-items: flex-start;
            //     gap: 20px;
            //     background: $background-light-color;
            //     border: 1px solid #E9E9E9;
            //     box-shadow: 0px 4px 58.5px rgba(0, 0, 0, 0.06);
            //     border-radius: 12px;
            //     margin-top: -50px;
            //     width: 632px;
            //     height: 286px;
            //     margin-top: 10px;
            //     display: none;
            //      @media screen and (min-width: 360px) and (max-width: 480px) {
            //         width: 312px;
            //         height: 273px; 
            //         position: absolute;
            //         top: 210px;
            //      } 
            //     // position: absolute;
            //     // top: 205px;
            //     // z-index: 1;
            //     &_body{
            //         padding: 20px 15px 20px 290px;
            //         display: flex;
            //         flex-direction: column;
            //         align-items: flex-end;
            //         justify-content: center;
            //         text-align: right;
            //         gap: 24px;    
            //         height: 70%;      
            //         width: 100%;    
            //         &_titles{
            //             display: flex;
            //             flex-direction: column;
            //             justify-content: center;
            //             align-items: flex-end;
            //             gap: 8px;
            //             &_input1::placeholder{
            //                 font-family: 'Yekan Bakh FaNum';
            //                 font-style: normal;
            //                 font-weight: $Bold;
            //                 font-size: 16px;
            //                 line-height: 25px;
            //                 color: $neutral-color-4;  
            //                 text-align: right;  
            //                 border: none;
            //                 @media screen and (min-width: 360px) and (max-width: 480px) {
            //                     font-size: 14px;
            //                     line-height: 21px;
            //                  } 
            //                 // visibility: hidden;                    
            //             }

            //             &_input2::placeholder{
            //                 font-family: 'Yekan Bakh FaNum';
            //                 font-style: normal;
            //                 font-weight: $Normal;
            //                 font-size: 14px;
            //                 line-height: 22px;
            //                 color: $neutral-color-5; 
            //                 text-align: right;
            //                 border: none;
            //                 @media screen and (min-width: 360px) and (max-width: 480px) {
            //                     font-size: 12px;
            //                     line-height: 18px;
            //                  } 
            //                 // visibility: none;
            //             }
            //         }
            //         &_tags{
            //             display: flex;
            //             flex-direction: row;
            //             justify-content: center;
            //             align-items: center;
            //             padding: 3px 8px;
            //             gap: 6px;
            //             border: 1px solid #E9E9E9;
            //             border-radius: 4px;
            //             filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            //             @media screen and (min-width: 360px) and (max-width: 480px) {
            //                 padding: 2px 5px;
            //              }    
            //             // &_icon{}

            //             &_name{
            //                 font-family: 'Yekan Bakh FaNum';
            //                 font-style: normal;
            //                 font-weight: $Semi_Bold;
            //                 font-size: 14px;
            //                 line-height: 22px;
            //                 color: #AFAEB2;
            //                 @media screen and (min-width: 360px) and (max-width: 480px) {
            //                     font-size: 12px;
            //                     line-height: 18px;
            //                  }                             
            //             }
            //         }

            //         &_options{
            //             display: flex;
            //             flex-direction: row;
            //             justify-content: center;
            //             align-items: center;
            //             padding: 10px;
            //             gap: 10px;
            //             background: $on-primery-light-color;
            //             border: 1px solid #EBEDEF;
            //             box-shadow: 0px 12px 24px -6px rgba(20, 20, 25, 0.06);
            //             border-radius: 8px;   
            //             @media screen and (min-width: 360px) and (max-width: 480px) {
            //                 padding: 5px;
            //              }    
            //             // position: relative;
            //             // top: -5px;  
            //             &_lowlabel{
            //                 padding: 2px 8px;
            //                 gap: 8px;
            //                 background: #C3FFF1;
            //                 border-radius: 4px;    
            //                 font-family: 'Yekan Bakh FaNum';
            //                 font-style: normal;
            //                 font-weight: $Bold;
            //                 font-size: 12px;
            //                 line-height: 19px;
            //                 color: #11A483;   
            //                 @media screen and (min-width: 360px) and (max-width: 480px) {
            //                     font-size: 12px;
            //                     line-height: 18px;
            //                     padding: 2px;
            //                  }                                                     
            //             }
                        
            //             &_avglabel{
            //                 padding: 2px 8px;
            //                 gap: 8px;
            //                 background: #FFEFD6;
            //                 border-radius: 4px;    
            //                 font-family: 'Yekan Bakh FaNum';
            //                 font-style: normal;
            //                 font-weight: $Bold;
            //                 font-size: 12px;
            //                 line-height: 19px;
            //                 color: #FFAF37;   
            //                 @media screen and (min-width: 360px) and (max-width: 480px) {
            //                     font-size: 12px;
            //                     line-height: 18px;
            //                     padding: 2px;
            //                  }    
            //             }

            //             &_highlabel{
            //                 padding: 2px 8px;
            //                 gap: 8px;
            //                 background: #FFE2DB;
            //                 border-radius: 4px;    
            //                 font-family: 'Yekan Bakh FaNum';
            //                 font-style: normal;
            //                 font-weight: $Bold;
            //                 font-size: 12px;
            //                 line-height: 19px;
            //                 color: #FF5F37;  
            //                 @media screen and (min-width: 360px) and (max-width: 480px) {
            //                     font-size: 12px;
            //                     line-height: 18px;
            //                     padding: 2px;
            //                  }    
            //             }

            //             &_line{
            //                 color: #EBEDEF;
            //             }
            //         }
            //     }

            //     &_footer{
            //         display: flex;
            //         flex-direction: row;
            //         align-items: flex-end;
            //         gap: 15px;
            //         padding: 10px 16px; 
            //         width: 100%; 
            //         border-top: 1px solid #E9E9E9;        
                    
            //         &_btn{
            //             padding: 6px 16px;
            //             background: #007BFF;
            //             opacity: 60%;
            //             border-radius: 6px;
            //             font-family: 'Yekan Bakh FaNum';
            //             font-style: normal;
            //             font-weight: $Semi_Bold;
            //             font-size: 14px;
            //             line-height: 22px;
            //             color: $neutral-color-11;  
            //             @media screen and (min-width: 360px) and (max-width: 480px) {
            //                 font-size: 12px;
            //                 line-height: 18px;
            //              }                          
            //         }

            //         &_close{
            //             padding: 3px 5px;
            //             gap: 12px;
            //             background: #F5F5F5;
            //             border-radius: 6px;                        
            //         }
            //     }
            // }

            &_activity{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                background: $background-light-color;
                border: 1px solid #E9E9E9;
                box-shadow: 0px 4px 58.5px rgba(0, 0, 0, 0.06);
                border-radius: 12px;
                margin-top: -50px;
                width: 632px;
                height: 219px;
                margin-top: 10px;
                display: none;
                // position: absolute;
                // top: 205px;
                // z-index: 1;
                @media screen and (min-width: 360px) and (max-width: 480px) {
                    width: 312px;
                    height: 226px; 
                    position: absolute;
                    top: 210px;
                 } 
                &_body{
                    padding: 35px 18px 20px 290px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    text-align: right;
                    gap: 24px;    
                    height: 65%;      
                    width: 100%;    
                    @media screen and (min-width: 360px) and (max-width: 480px) {
                        padding: 35px 18px 20px 29px;
                     } 
                    &_titles{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;
                        gap: 8px;
                        // padding: 10px 16px;
                        &_span1{
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Bold;
                            font-size: 16px;
                            line-height: 25px;
                            color: $neutral-color-2;  
                            text-align: right;  
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 14px;
                                line-height: 21px;
                             }                  
                        }

                        &_span2{
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Normal;
                            font-size: 14px;
                            line-height: 22px;
                            color: $neutral-color-3; 
                            text-align: right;
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 12px;
                                line-height: 18px;
                             }    
                        }
                    }
                    &_tag{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 2px 8px;
                        border-radius: 4px;
                        background-color: #FFE2DB;
                        @media screen and (min-width: 360px) and (max-width: 480px) {
                            padding: 2px 4px;
                         }  

                        &_icon{
                            position: relative;
                            top: 5px;
                        }

                        &_name{
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Semi_Bold;
                            font-size: 14px;
                            line-height: 22px;
                            // background-color: #AFAEB2;  
                            color: #FF5F37;    
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 12px;
                                line-height: 18px;
                             }                        
                        }
                    }
                }

                &_footer{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    padding: 10px 16px; 
                    width: 100%; 
                    border-top: 1px solid #E9E9E9;        
                    @media screen and (min-width: 360px) and (max-width: 480px) {
                       gap: 15px;
                     }      
                    &_btn{
                        padding: 6px 16px;
                        background: #007BFF;
                        border-radius: 6px;
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Semi_Bold;
                        font-size: 14px;
                        line-height: 22px;
                        color: $neutral-color-11;    
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 12px;
                                line-height: 18px;
                             }                          
                    }
                    &_close{
                        padding: 3px 5px;
                        gap: 12px;
                        background: #F5F5F5;
                        border-radius: 6px;                        
                    }
                }
            }

            &_task{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                background: $background-light-color ;
                // gap: 206px;
                border: 1px solid #E9E9E9;
                border-radius: 12px;
                padding: 24px 20px 24px 24px;
                width: 632px;
                @media screen and (min-width: 360px) and (max-width: 480px) {
                    width: 312px;
                    height: 105px;
                    gap: 8px;
                 }  

                // &_icon{}

                &_text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    gap: 12px;
                    &_check{
                        display: flex;
                        gap: 10px;
                        @media screen and (min-width: 360px) and (max-width: 480px) {
                            // display: flex;
                            // flex-direction: column;
                         }  

                        &_label{
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Semi_Bold;
                            font-size: 16px;
                            line-height: 25px;
                            color: $neutral-color-2;  
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 14px;
                                line-height: 21px;
                             }    
                        }

                        &_input{
                            // -webkit-appearance: none;
                            width: 18px;
                            height: 18px;
                            border: 1px solid $neutral-color-5;
                            border-radius: 5px;
                            vertical-align: sub;
                            outline: none;
                        }
                        
                        &_input:checked{
                            background-color: $to_do_list_title;
                        }

                        &_span-high{
                            padding: 2px 8px 1px 8px;
                            background: #FFE2DB;
                            border-radius: 4px;   
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Semi_Bold;
                            font-size: 12px;
                            line-height: 19px;
                            text-align: right;
                            color: #FF5F37;   
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 10px;
                                line-height: 15px;
                             }                                                    
                        }

                        &_span-avg{
                            padding: 2px 8px 1px 8px;
                            background: #FFEFD6;
                            border-radius: 4px;   
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Semi_Bold;
                            font-size: 12px;
                            line-height: 19px;
                            text-align: right;
                            color: #FFAF37;
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 10px;
                                line-height: 15px;
                                height: 20px;
                             }                                                       
                        }

                        &_span-low{
                            padding: 2px 8px 1px 8px;
                            background: #C3FFF1;
                            border-radius: 4px;   
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Semi_Bold;
                            font-size: 12px;
                            line-height: 19px;
                            text-align: right;
                            color: #11A483;  
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 10px;
                                line-height: 15px;
                             }                                                        
                        }
                    }

                    &_discription{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #727272;   
                        @media screen and (min-width: 360px) and (max-width: 480px) {
                            font-size: 12px;
                            line-height: 18px;
                         }                     
                    }
                }
            }

            &_icons{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 3px 5px;
                gap: 5px;
                background: $surface-light-color;
                border: 1px solid #EBEDEF;
                box-shadow: 0px 12px 24px -6px $neutral-color-7;
                border-radius: 8px;
                position: relative;
                right: 540px;
                top: -70px;
                display: none;
                @media screen and (min-width: 360px) and (max-width: 480px) {
                    position: relative;
                    right: 224px;
                    top: -70px;
                   }     
                // &_del{}

                // &_line{}

                // &_edit{}
            }

            &_card{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                background: $background-light-color;
                border: 1px solid #E9E9E9;
                box-shadow: 0px 4px 58.5px rgba(0, 0, 0, 0.06);
                border-radius: 12px;
                margin-top: -50px;
                width: 632px;
                display: none;
                @media screen and (min-width: 360px) and (max-width: 480px) {
                   width: 312px;
                   height: 206px;
                 } 
                &_body{
                    padding: 20px 10px 20px 290px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    text-align: right;
                    gap: 10px;   
                    @media screen and (min-width: 360px) and (max-width: 480px) {
                       padding: 15px;
                       height: 70%;
                      }  
                    // height: 80%;      
                    // width: 100%;    
                    &_title{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Bold;
                        font-size: 16px;
                        line-height: 25px;
                        color: $text_color_2;   
                        @media screen and (min-width: 360px) and (max-width: 480px) {
                            font-size: 14px;
                            line-height: 21px;
                           }                       
                    }
                    
                    &_discription{
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Normal;
                        font-size: 14px;
                        line-height: 22px;
                        color: $span_color_1; 
                        @media screen and (min-width: 360px) and (max-width: 480px) {
                            font-size: 12px;
                            line-height: 18px;
                           }                          
                    }

                    &_importance{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 3px 8px;
                        gap: 6px;
                        background: #C3FFF1;
                        border-radius: 4px;
                        @media screen and (min-width: 360px) and (max-width: 480px) {
                            padding: 2px 5px;
                           }   
                        // &_icon{}

                        &_text{
                            font-family: 'Yekan Bakh FaNum';
                            font-style: normal;
                            font-weight: $Semi_Bold;
                            font-size: 14px;
                            line-height: 22px;
                            color: #11A483;    
                            @media screen and (min-width: 360px) and (max-width: 480px) {
                                font-size: 12px;
                                line-height: 18px;
                               }                           
                        }
                    }
                }

                &_footer{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    padding: 10px 16px; 
                    width: 100%; 
                    border-top: 1px solid #E9E9E9;        
                    
                    &_btn{
                        padding: 6px 16px;
                        background: #007BFF;
                        border-radius: 6px;
                        font-family: 'Yekan Bakh FaNum';
                        font-style: normal;
                        font-weight: $Semi_Bold;
                        font-size: 14px;
                        line-height: 22px;
                        color: $neutral-color-11;     
                        @media screen and (min-width: 360px) and (max-width: 480px) {
                            font-size: 12px;
                            line-height: 18px;
                           }                       
                    }
                }
            }
        } 

    }


    &_tasks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 16px;
        // overflow: hidden;  
        
        &_title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            @media screen and (min-width: 360px) and (max-width: 480px) {
                gap: 4px;
             }  
            &_h4{
                font-family: 'Yekan Bakh FaNum';
                font-style: normal;
                font-weight: $Extra_Bold;
                font-size: 20px;
                line-height: 31px;
                color: $text_color_2;  
                @media screen and (min-width: 360px) and (max-width: 480px) {
                    font-size: 16px;
                    line-height: 24px;
                 }                
            }

            &_h6{
                font-family: 'Yekan Bakh FaNum';
                font-style: normal;
                font-weight: $Normal;
                font-size: 14px;
                line-height: 22px;
                color: $to_do_list_discription;  
                @media screen and (min-width: 360px) and (max-width: 480px) {
                    font-size: 12px;
                    line-height: 18px;
                 }                    
            }
        }

        &_done{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 24px 20px 24px 24px;
            gap: 206px;
            border: 1px solid #E9E9E9;
            border-radius: 12px;
            width: 635px;
            background: $on-primery-light-color;
            @media screen and (min-width: 360px) and (max-width: 480px) {
                width: 312px;
                height: 66px;
                gap: 8px;
                text-align: right;
             }  
            // overflow: hidden;
       

            &_check{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-start;
                gap: 10px;
                // background-color: #525252;

                &_input{
                    // -webkit-appearance: none;
                    width: 18px;
                    height: 18px;
                    border: 1px solid $neutral-color-5;
                    border-radius: 5px;
                    vertical-align: sub;
                    outline: none;
                }
                
                
                &_input:checked{
                    background-color: $to_do_list_title;
                }

                &_p {
                    font-family: 'Yekan Bakh FaNum';
                    font-style: normal;
                    font-weight: $Semi_Bold;
                    font-size: 16px;
                    line-height: 25px;
                    color: $neutral-color-2;
                    text-decoration-line: line-through;     
                    @media screen and (min-width: 360px) and (max-width: 480px) {
                        font-size: 12px;
                        line-height: 19px;
                     }                  
                  }


    
            }

            // &_line{
            //     border-right: 5px solid #FFAF37;
            //     padding: 8px 0 0 8px;  
            //     border-radius: 0 8px 8px 0;
            // }

            // &_icon{
            // }
        }
    }
}